<!-- Multi-stripe retro divider -->
<div class="flex flex-col">
  <div class="h-[6px] bg-retro-purple"></div>
  <div class="h-[6px] bg-burnt-orange"></div>
  <div class="h-[6px] bg-mustard"></div>
  <div class="h-[6px] bg-burnt-orange"></div>
</div>
